@import '@/app/styles/variables.module.scss';

.budgetButtonContainer {
  border: none;
  cursor: pointer;
  outline: inherit;

  color: $white-color;
  font-family: $dmSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}

.budgetButtonContainer_desktop {
  background-color: $white-color-09;
  border-radius: 7px;
  padding: 12px 18px;
  gap: 5px;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.budgetButtonContainer_mobile {
  background-color: $primary;
  border-radius: 8.441px;
  padding: 9.65px 10px 10px 9.65px;
}
