@import '@/app/styles/variables.module.scss';

.headerContainerContainer {
  display: flex;
  width: 100%;
  background-color: $background;
  align-items: center;
  height: 504px;
  flex-direction: column;

  @media (max-width: $mobile) {
    height: fit-content;
  }
}

.mobileDecal {
  width: 100%;
  height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
