@import '@/app/styles/variables.module.scss';

.headerCategoryContainer {
  display: flex;
  width: 100%;

  input {
    display: none;
  }
}

.headerCategoryContainer_label {
  cursor: pointer;
  color: $white-color;
  transition: filter 0.2s ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;

  &:hover {
    filter: brightness(0.9);
  }
}

.headerCategoryContainer_label_svg {
  width: 8px;
  transition: transform 0.3s ease-in-out;

  path {
    stroke: $white-color;
    transition: stroke 0.3s ease-in-out;
  }
}

.headerCategoryContainer_label_svg_selected {
  transform: rotate(180deg);

  path {
    stroke: $primary;
  }
}

.headerCategoryContainer_label_selected {
  color: $primary;
}

.subMenuWrapper {
  position: absolute;
  width: 100%;
  border-top: 1px solid $white-color;
  left: 0px;
  top: 120px;
  padding-top: 65px;

  display: flex;
  pointer-events: all;
  opacity: 1;

  transition: opacity 0.15s ease-in-out;
}

.subMenuWrapper_closed {
  opacity: 0;
  pointer-events: none;
}
