import styles from './{{lowerCaseFirst name}}.module.scss'

export function {{name}} ( ) {

  return (
    <div className={styles.{{lowerCaseFirst name}}Container}>
      <h1>{{name}}</h1>
    </div>
  )
}