@import '@/app/styles/variables.module.scss';

.mobileMenuButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;

  border: none;
  cursor: pointer;
  outline: inherit;
  background: none;
}
