@import '@/app/styles/variables.module.scss';

.desktopHeaderContainer {
  display: flex;
  width: 100%;
  max-width: $desktopContainer;
  height: 98px;
  align-items: flex-end;
  position: relative;
  margin-top: 55px;

  @media (max-width: $mobile) {
    display: none;
  }
}

.desktopHeaderInnerWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerNavContainer {
  display: flex;
  gap: 64px;
}

.headerNavContainer_svg {
  width: 100%;
  height: auto;
}

.navContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.navContaine_ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navContaine_li {
  white-space: nowrap;
  color: $white-color;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}

.decalContainer {
  width: 180px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: -50px;
  right: -350px;
}

.decal {
  transform-origin: bottom left;
  bottom: 0px;
}
